<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/data.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
  </head>
  <body>
   
    <main class = "main_background">
    <div class="title">
      <h1>COMMUNITY RESILIENCE USER STUDY</h1>
    </div>
      <div class="main_content">
        <div class="left">
          <div class="text", id='texxt'>
            Avoid 
          </div>
          
          <div class="input_wrapper">
            <label for="all_topics">Choose a topic:</label>
            <select name="all_topics" id="all_topics">
              <option value= "topic 0"> topic 0 <option>
              <option value= "topic 1"> topic 2 <option>
            </select>
            <input class = label placeholder="Enter new label" />
            <button class="button">Submit</button>
            <button class="button">apply</button>
            <button class="button">Approve</button>
          </div>
        </div>
        <div class="right">
          <!-- <div class="right_wrapper">
            <div class="keywords">
              <h3>Key words:</h3>
              <p class="keyword">Ghana</p>
              <p class="keyword">Daniel</p>
              <p class="keyword">Another</p>
              <p class="keyword">word</p>
              <p class="keyword">Thesarus</p>
              <p class="keyword">asfaswsfwasfwasfsfsfwrasdf</p>
              <p class="keyword">Another</p>
              <p class="keyword">word</p>
              <p class="keyword">Thesarus</p>
            </div>
          </div> -->
          <br>
          <br>
          <div>
            FILTER SPANS BY THRESHOLD 
            <br><br>
            <div class="range-slider">
              <span id="rs-bullet" class="rs-label">0</span>
              <input name="prob" id="rs-range-line" class="rs-range" step="0.001" type="range" value="0.002" min="0" max="1">
            </div>
            
            <div class="box-minmax">
              <span>0</span><span>1</span>
            </div>
        
            
            <br><br>
            
            
        </div>

        <div id = "test div" class="testt"> we move</div>

    </div>
  
    </main>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script src = "..//static/interraction.js"></script> -->
    <script src = "..//static/inter.js"></script>
  </body>
</html>
