<!DOCTYPE HTML>
<html>

<head>
	<title>
		How to scroll automatically to a particular element.
	</title>
	<style>
		#GFG_DOWN {
			margin-top: 370px;
		}
	</style>
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
</head>

<body style="text-align:center;">
	<h1 style="color:green;">
			GeeksForGeeks
		</h1>
	<p id="GFG_UP"
	style="font-size: 15px;
			font-weight: bold;">
	</p>
	<button onclick="gfg_Run()">
		Click Here
	</button>
	<p id="GFG_DOWN"
	style="color:green;
			font-size: 30px;
			font-weight: bold;">
		This is element.
	</p>
	<script>
		var el_up = document.getElementById("GFG_UP");
		var el_down = document.getElementById("GFG_DOWN");
		el_up.innerHTML =
"Click on the button to scroll to the particular element.";

		function gfg_Run() {
			$(window).scrollTop($('#GFG_DOWN').position().top);
		}
	</script>
</body>

</html>
